body {
  text-align: center;
  background-color: #23daff;
}

h1 {
  color: blue;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #f210bd;
}

ul {
  list-style-type: none;
}

.desc {
  font-style: italic;
  font-size: 14px;
}
