body {
  text-align: center;
  background-color: #23daff;
}

h1 {
  color: blue;
}

div {
  border-style: dashed;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #27d121;
  width: 100%;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #f210bd;
}

.desc {
  font-style: italic;
  font-size: 14px;
}

.menu_item {
  border-color: green;
  text-align: left;
  margin: auto;
  height: 20px;
  width: 30%;
}

.menu_image {
  float: left;
  border-color: red;
  width: 40%;
}

.menu_text {
  border-color: blue;
  float: right;
  padding-top: 10%;
  width: 50%;
  display: table;
  vertical-align: middle;
}

.menu_image > img {
  height: 100px;
  width: auto;
}
